.StyledLoginSignupWrapper{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 90vw;
    background-color: rgba(239, 227, 227, 0.3);
    margin: 10px;
    left: 4rem;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 0.4em;
    background-color: #171717;
    border-radius: 10px;
    transition: .4s ease-in-out;
    width: 30rem;

    &:hover {
        box-shadow: 0 0 20px aliceblue inset;
    }
}

#heading {
    text-align: center;
    margin:2em 0;
    color: rgb(255, 255, 255);
    font-size: 1.8em;
    font-family: Orbitron;
}

.field {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    border-radius: 25px;
    padding: 0.6em;
    border: none;
    outline: none;
    color: white;
    background-color: #171717;
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
}

.input-icon {
    height: 1.3em;
    width: 1.3em;
    fill: white;
}

.input-field {
    background: none;
    border: none;
    outline: none;
    width: 100%;
    color: #d3d3d3;
    font-family: Audiowide;
}

.btn {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 2.5em;
    font-family: Audiowide;
}

.button1 {
    padding: 0.5em;
    padding-left: 1.1em;
    padding-right: 1.1em;
    border-radius: 5px;
    margin-right: 0.5em;
    border: none;
    outline: none;
    transition: .2s ease-in-out;
    background-color: #252525;
    color: white;

    &:hover {
        background-color: darkgreen;
        color: white;
    }
}

.button2 {
    padding: 0.5em;
    padding-left: 2.3em;
    padding-right: 2.3em;
    border-radius: 5px;
    border: none;
    outline: none;
    transition: .2s ease-in-out;
    background-color: #252525;
    color: white;

    &:hover {
        background-color: darkgreen;
        color: white;
    }
}

.button3 {
    margin-bottom: 3em;
    padding: 0.5em;
    border-radius: 5px;
    border: none;
    outline: none;
    transition: .2s ease-in-out;
    background-color: #252525;
    color: white;

    &:hover {
        background-color: darkred;
        color: white;
    }
}